{% extends 'MessDeck/base.html' %}
{% load crispy_forms_tags %}
{% block title %}MessDeck{% endblock %}

{% block content %}


<!--navigation bar-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MESSDECK</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
<!--            <ul class="nav navbar-nav">-->
<!--                <li class="active"><a href="#">Dashboard</a></li>-->
<!--                <li><a href="#">Monthly Menu</a></li>-->
<!--                <li><a href="#">Complaint</a></li>-->
<!--                <li><a href="#">Contact</a></li>-->
<!--            </ul>-->
            <ul class="nav navbar-nav navbar-right">
<!--                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>-->
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container h-100">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join MessDeck Staff</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
</div>


{% endblock %}}